# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Playwright
test-results/
